<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>列表过滤</title>
    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js">
    </script>
  </head>
  <body>
    <!-- 准备好一个容器 -->
    <div id="root">
      <h2>人员列表</h2>
      <input type="text" placeholder="请输入名字" v-model="keyWord">
      <ul>
        <li v-for="(item,index) in filterList" :key="item.id">
          {{item.name}}-{{item.age}}--{{item.sex}}
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false
      //用watch实现
      //#region 
/*       const vm = new Vue({
            el:'#root',
            data:{
              lists:[
                {id:'001',name:'马冬梅',age:18,sex:'女'},
                {id:'002',name:'周冬雨',age:19,sex:'女'},
                {id:'003',name:'周杰伦',age:20,sex:'男'},
                {id:'004',name:'温兆伦',age:21,sex:'男'}
              ],
              filterList:[],
              keyWord:''
            },
            watch:{
              keyWord:{
                immediate:true,//立即调用方法
                handler(newValue,oldValue){
                console.log(newValue,oldValue)
                this.filterList = this.lists.filter((p)=>{
                  return p.name.indexOf(newValue) !== -1
                })
                }

              }
            }
      }) */
      //#endregion
      //用computed实现
      const vm = new Vue({
            el:'#root',
            data:{
              lists:[
                {id:'001',name:'马冬梅',age:18,sex:'女'},
                {id:'002',name:'周冬雨',age:19,sex:'女'},
                {id:'003',name:'周杰伦',age:20,sex:'男'},
                {id:'004',name:'温兆伦',age:21,sex:'男'}
              ],
              keyWord:''
            },
            computed:{
              filterList:{
                get(){
                  return this.lists.filter((p)=>{
                  return p.name.indexOf(this.keyWord) !== -1
                })
                }
              }
            }
      })
    </script>
  </body>
</html>